<div class="container container__centered container__fullHeight">
  <div class="register register__container shadowBox">
    <span class="register__label">Register</span>
    {{#> form}}
    {{> field caption="Email" type="email" name="email" classModifier="field_register"}}
    {{> field caption="Login" type="text" name="login" classModifier="field_register"}}
    {{> field caption="First name" type="text" name="first_name" classModifier="field_register"}}
    {{> field caption="Second name" type="text" name="second_name" classModifier="field_register"}}
    {{> field caption="Phone" type="text" name="phone" classModifier="field_register"}}
    {{> field caption="Password" type="password" name="password" classModifier="field_register"}}
    {{> field caption="Repeat password" type="password" name="password_repeat" classModifier="field_register"}}
    <div class="register__buttonContainer">
      {{!-- {{> button caption="Register" classModifier="button_primary" }} --}}
      {{{button}}}      
    </div>
    {{/form}}
    {{> link caption="Sign in" url="/login" classModifier="register__link"}}
  </div>
</div>