<div class="system container container__centered container__fullHeight">
    <span class="system__code">{{code}}</span>
    <span class="system__text">{{text}}</span>
     {{> link caption="Back to chats" url="/chat" classModifier="system__link"}}
</div>