@import "../../../../styles/container.scss";
@import "../../../../styles/common.scss";
@import "../../../../components/avatar/avatar.module.scss";
@import "../../../../components/field/field.module.scss";

.chatContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__errorLabel {
    color: $font-color-error;
    margin-top: 1rem;
    margin-left: 20px;
    margin-bottom: 1rem;
    height: 1rem;

    @include same-font-and-line-size(1rem);
  }

  &__userContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: 1px solid $background-color-secondary;
  }

  &__userName {
    margin-left: 10px;
    font-weight: $font-weight-bolder;

    @include same-font-and-line-size(1.1rem);
  }

  &__chatMenuButtonContainer {
    margin-left: auto;
    margin-right: 11px;
  }

  &__chatMenuButton {
    line-height: 1px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease;
  }

  &__chatMenuButton:hover {
    background-color: rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  &__chatMenuDropdownContent {
    width: 210px;
    display: flex;
    flex-direction: column;
  }

  &__chatMenuDropdownItem {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
  }

  &__chatMenuDropdownItem_last {
    margin-bottom: 0;
  }

  &__chatMenuDropdownItemText {
    margin-left: 15px;
    color: $font-color-primary;

    @include same-font-and-line-size(1rem);
  }

  &__messagesContainer {
    position: relative;
    height: 100%;
  }

  &__sendContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 20px;
    padding: 10px 0;
    border-top: 1px solid $background-color-secondary;
  }

  &__sendMenu {
    line-height: 1px;
  }

  &__emptyMessage {
    color: $font-color-secondary;

    @include same-font-and-line-size(1rem);
  }
}
