$font-family-base: 'Inter';
$font-style-base: normal;
$font-weight-base: 500;
$font-weight-bolder: 600;

$font-color-primary: #1E1E1E;
$font-color-secondary: #999999;
$font-color-inverse: #FFFFFF;
$font-color-accent: #3369F3;
$font-color-danger: #FF0000;

$background-color-primary: #3369F3;
$background-color-base: #FFFFFF;
$background-color-secondary: #EAEAEA;

@mixin sameFontAndLineSize($size) {
    font-size: $size;
    line-height: $size;
}

.shadowBox {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
} 