@import "../../../../styles/common.scss";
@import "../../../../styles/container.scss";

.addChat {
  &__errorLabel {
    color: $font-color-error;
    margin-top: 0.25rem;
    height: 1rem;

    @include same-font-and-line-size(1rem);
  }
}