@import "../../../../styles/container.scss";
@import "../../../../styles/common.scss";

.chatMessage {
  max-width: 60%;
  margin: 20px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $font-color-primary;
  padding: 11px;

  &_other {
    margin-left: 20px;
    border-radius: 0 12px 12px;
    background-color: #f8f8f8;
  }

  &_mine {
    align-self: flex-end;
  }
}
