@import "../../styles/common.scss";
@import "./field.scss";

.field {
    &_login &__label {
        color: $font-color-secondary;
        font-style: $font-style-base;
        font-weight: $font-weight-base;
        @include sameFontAndLineSize(0.75rem);
    }

    &_login &__input {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;

        color: $font-color-primary;
        border: none;
        border-bottom: 1px solid #3369f3;
        @include sameFontAndLineSize(1.1rem);
    }
}
