@import "../../styles/common.scss";

.field {
    margin: 0;
    font-family: inherit;

    &__label {
        font-family: inherit;
    }

    &__input {
        font-family: inherit;
        outline: none;
        padding: 0;       
    }
}
