@import "../../styles/common.scss";

.field.field_user {
  .field {
    &__label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $font-color-primary;
      font-style: $font-style-base;
      font-weight: $font-weight-base;

      @include same-font-and-line-size(1.1rem);
    }

    &__input {
      flex: 1 1 auto;
      margin-left: 20px;
      color: $font-color-secondary;
      text-align: end;
      border: none;

      @include same-font-and-line-size(1.1rem);

      &:focus {
        padding: 0.25rem 0.5rem;
        margin: -0.25rem 0 -0.25rem 20px;
        border-radius: 2px;
        border-bottom: none;
        outline: 1px solid $font-color-secondary;
      }
    }

    &__errorLabel {
      color: $font-color-error;
      width: 100%;

      @include same-font-and-line-size(1rem);
    }
  }
}
