@import "../../styles/common.scss";
@import "./field.register.module.scss";

.field {    
    font-family: inherit;

    &__label {
        font-family: inherit;
    }

    &__input {
        font-family: inherit;
        outline: none;
        padding: 0;       
    }     
}
