@import "../../styles/common.scss";

.field.field_chat {
  flex: 1 1 auto;

  .field {
    &__label {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $font-color-primary;
      font-style: $font-style-base;
      font-weight: $font-weight-base;

      @include same-font-and-line-size(1.1rem);
    }

    &__input {
      flex: 1 1 auto;
      color: $font-color-primary;
      text-align: start;
      border: none;
      border-radius: 30px;
      min-height: 32px;
      padding: 0.25rem 20px;
      background-color: $background-color-lighter;

      @include same-font-and-line-size(1rem);

      &:focus {
        outline: 1px solid $font-color-secondary;
      }
    }

    &__errorLabel {
      display: none;
    }
  }
}
