@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
}

#root {
  height: 100%;
  width: 100%;
}
