<div class="flyout container container__fullHeight">
    <div class="flyout__panel container container__centered">        
        <a class="flyout__link" href="{{returnUrl}}">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white" />
                <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6" />
            </svg>
        </a>
    </div>
    <div class="flyout__placeholder container container__centeredHorizontal container__fullHeight">
        {{> @partial-block }}
    </div>
</div>