{{#> flyout returnUrl="/user/view"}}
<div class="userChangePassword userChangePassword__container">
    {{> avatar avatarAlt="User avatar" classModifier="avatar_user"}}    
    <span class="userChangePassword__userLabel"></span>
    {{#> form}}    
    {{> field caption="Old password" type="password" name="oldPassword" value="" classModifier="field_user"}}
    <hr class="field__separator_user">
    {{> field caption="New password" type="password" name="newPassword" value="" classModifier="field_user"}}
    <hr class="field__separator_user">
    {{> field caption="Repeat new password" type="password"  name="newPasswordRepeat" value="" classModifier="field_user"}}
    {{/form}}
    <div class="userChangePassword__buttonContainer">
        {{> button caption="Save" classModifier="button_primary" }}
    </div>

</div>

{{/flyout}}