<div class="container container__centered container__fullHeight">
    <div class="mockMain mockMain__container shadowBox">
        <ul class="mockMain__list">
            {{#each links}}
            <li class="mockMain__listItem">
                <a class="mockMain__listUrl" href="{{this.url}}">{{this.text}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>