@import "../../../../styles/common.scss";

.search {
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0 0 14px 0;
    font-family: inherit;    
  
    &__input {
        width: 100%;
        background: #EFEFEF no-repeat scroll 50% - 13;                
        height: 32px;
        border-radius: 5px;
        font-family: inherit;
        outline: none;
        padding: 0;  
        border: none;     
        
        
        text-align: center;        

        font-style: $font-style-base;
        font-weight: $font-weight-base;
        @include sameFontAndLineSize(1.1rem);

        &:focus,
        &:not(:placeholder-shown) {
            background: #EFEFEF no-repeat scroll 10px;
        }        
    }
}
